* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
